<div class="body">
  <div class="card" style=" background-color: white;
  border-radius: 5%;
  width: 40%;
  border: 2px gray;">

    <div>
      <label for="name">Name:</label>
      <input type="text" placeholder=" Enter Your Name">
    </div><br>
    <div><br>
      <label for="name">Email:</label>
      <input type="text" placeholder=" Enter Your Email">
    </div><br>
    <div>
      <label for="name">Message:</label>
      <textarea placeholder=" Enter Message"></textarea>
    </div>
  </div>
</div>
